/*font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;*/
*{
     margin:0;
     padding: 0;
 }
 h1,h2,h3,h4,h5,h6,ul,p{
     margin:0;
     padding: 0;
 }
 header{
      /*margin-right: 5%;*/
      display: flex;
      /* background-color: #9f9f9f; */
      justify-content: space-between;
      /* margin-left: 5%; */
      /* margin-top: 30px; */*{
      /*margin:0;
     padding: 0;*/
      margin: 30PX 5%;
 }
      h1,h2,h3,h4,h5,h6,ul,p{
     margin:0;
      padding: 0;
 }
      header{
      margin-right: 5%;
      display: flex;
      /* background-color: #9f9f9f; */
      /* justify-content: space-between; */
      /* margin-left: 5%; */
      /* margin-top: 30px; */
      /* margin-bottom: 30px; */
      margin: 30px auto;
          width:90%;
 }
 .logo{
      width: 20%;
      /* background-color: red; */
 }
      nav{
     width: 50%;
      /* background-color: #6e6ee3; */
 }
      nav ul{
 
 list-style: none;
      justify-content: space-between;
      display: flex;
 }
      nav ul li{}
      nav ul li a{
 font-family: 'Playfair Display', serif;
      text-decoration: none;
      text-transform: uppercase;
      color: #626262;
 }
 .banner{
      margin: 30px auto;
      width: 90%;
 }
 .banner
      img{
 
 width: 100%;
 }
 .photodiary{
      margin: 60px auto;
      width: 80%;
 }
 .photodiary
      h5{
 
 font-style: play;
      color: #b4ad9e;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      font-family: 'Ubuntu', sans-serif;
 }
 .photodiary
      h1{
 font-family: 'Playfair Display', serif;
      font-size: 30px;
      margin: 20px 0;
      color: #626262;
      font-weight: 500;
 }
 .photodiary
      p{
 font-family: 'Playfair Display', serif;
      color: #626262;
      margin-bottom: 30px;
 }
      /* margin-bottom: 30px; */
      margin: 30px 5%;
      width: auto;
 }
 .logo{
     width: 20%;
     /* background-color: red; */
 }
 nav{
     width: 50%;
     /* background-color: #6e6ee3; */
 }
 nav ul{
 
 list-style: none;
 
 justify-content: space-between;
 
 display: flex;
 }
 nav ul li{
 
 }
 nav ul li a{
     
 text-decoration: none;
     
 text-transform: uppercase;
     
 color: #626262;
 }
 .banner{
 
 margin: 30px auto;
 
 width: 90%;
 }
 .banner img{
 
 width: 100%;
 }
 .photodiary{
     
 margin: 60px 10%;
 }
 .photodiary h5{
 
 
 
 color: #b4ad9e;
 
 font-size: 16px;
 
 font-weight: 400;
 
 text-transform: uppercase;
 
 
 
 font-family: 'Ubuntu', sans-serif;
 }
 .photodiary h1{
 
 font-size: 30px;
 
 margin: 20px 0;
 
 color: #626262;
 
 font-weight: 500;
 font-family: 'Playfair Display', serif;
 }
 .photodiary p{
 
 color: #626262;
 
 /* margin-right: 5%; */
 
 margin-bottom: 30px;
 
 FONT-SIZE: 20PX;
 font-family: 'Playfair Display', serif;
 }
 .lifestyle{
 margin: 30px auto;
 width:80%;
 display: flex;
 justify-content: space-between;
 }
 .item{
 
 width: 45%;
 }
 .item img{
 
 width: 100%;
 }
 .item h5{
 
 color: #b4ad9e;
 
 font-size: 16px;
 
 font-weight: 400;
 
 text-transform: uppercase;
 
 font-family: 'Ubuntu', sans-serif;
 
 margin: 15 px 0%;
 
 border: 15px 0%;
 
 margin: 15px 0%;
 }
 .item h1{
     font-size: 30px;
 
     margin: 20px 0;
     
     color: #626262;
     
     font-weight: 500;
     font-family: 'Playfair Display', serif;
 }
 .item p{
     color: #626262;
 
 /* margin-right: 5%; */
 
 margin-bottom: 30px;
 
 FONT-SIZE: 20PX;
 font-family: 'Playfair Display', serif;
 }
 .photodiary1{
     margin: 30px auto;
     width:80%;    
     display: flex;
     justify-content: space-between;
     
 }
 .item1{
 
     width: 45%;
     }
 .item1 img{
     
     width: 100%;
     }
 .item1 h5{
     
     color: #b4ad9e;
     
     font-size: 16px;
     
     font-weight: 400;
     
     text-transform: uppercase;
     
     font-family: 'Ubuntu', sans-serif;
     
     margin: 15 px 0%;
     
     border: 15px 0%;
     
     margin: 15px 0%;
     }
 .item1 h1{
         font-size: 30px;
     
         margin: 20px 0;
         
         color: #626262;
         
         font-weight: 500;
         font-family: 'Playfair Display', serif;
     }
 .item1 p{
         color: #626262;
     
     /* margin-right: 5%; */
     
     margin-bottom: 30px;
     
     FONT-SIZE: 20PX;
     font-family: 'Playfair Display', serif;
     }
 .newsletter{
         background-color: #f0f0f0;
         height: 300px;
         width: 100%;
         margin: 100px 0%;
         border: 100px 0%;
     }
 .newsletter_content{
         
 padding: 125px 0%;
         
 text-align: center;
         
 width: 14%;
         
 /* border: 1px solid; */
         
 margin: auto;
     }
 .newsletter_content h1{
         
 font-weight: 500;
         
 color: #626262;
         
 width: 100%;
         
 font-size: 24px;
         
 margin-bottom: 55px;
     }
 .newsletter_content input{
         
 width: 100%;
         
 background: transparent;
         
 border: none;
         
 border-bottom: 1px solid #626262;
         
 padding: 5px 0%;
         
 font-size: 16px;
     }
.loadmore{
     
text-align: center;
     
PADDING-BOTTOM: 100px;
}
.loadmore button{

padding: 20px 3opx;

padding: 20px 30px;

border: none;

border: 1px solid #626262;

border-radius: 0px;

color: #626262;

font-size: 16px;
}
footer{

background-color: #f0f0f0;

display: flex;

justify-content: space-between;
padding: 30px 0%;
}
.terms{
     
width: 30%;
}
.terms ul{

display: flex;

list-style: none;
}
.terms ul li{

margin-right: 15px;
}
.terms ul li a{

color: #626262;

text-decoration: none;

font-size: 16px;
}
.follow{
     
width: 30%;
}
.follow ul{
     display: flex;

     list-style: none;
     justify-content: end;
}
.follow ul li{

margin-left: 15px;
}
.follow ul li a{
     color: #626262;

     text-decoration: none;
     
     font-size: 16px;
}
.footer_content{
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
}
.form{
     position: relative;
}
.icon{

position: absolute;

left: 234px;

bottom: 2px;
}